# Ignore everything
*

# Allow Git to see directories
!*/

# Include specific directories and their contents
!mgr/MGR/
!mgr/MGR/**

!dirt2/My Games/DiRT2/savegame/
!dirt2/My Games/DiRT2/savegame/**

!gtasa/GTA San Andreas User Files/
!gtasa/GTA San Andreas User Files/**
!gtasa/GTA San Andreas User Files/gta_sa.set
!gtasa/GTA San Andreas User Files/gta_sa2.set
!gtasa/GTA San Andreas User Files/SAMP/**

!bully/Bully Scholarship Edition/
!bully/Bully Scholarship Edition/**
!bully/Bully Scholarship Edition/ControllerSettings
