gtasa/GTA San Andreas User Files/gta_sa.set
gtavc/GTA Vice City User Files/gta_vc.set
mgr/MGR/SaveData/GraphicOption
rdr/Red Dead Redemption/title/**
gta3/GTA3 User Files/gta3.set
henrystickmin/com.innersloth.henry.HenryFlash/Local Store/settings.txt
gtaiv/GTA IV/Settings
gtaiv/GTA IV/User Music
gtaiv/GTA IV/savegames/user_e0000000b06cc138/ControlMap.dat
gtaiv/GTA IV/savegames/user_invalid/ControlMap.dat
gtaiv/GTA IV/savegames/GTAC/ControlMap.dat
rdr2/Red Dead Redemption 2/profile/ProfileSettings
rdr2/Red Dead Redemption 2/profile/Player
rdr2/Red Dead Redemption 2/profile/cfg.dat
sse/SmartSteamEmu/steam_id.ini
sse/SmartSteamEmu/serverbrowser_hist.vdf
tlou2/The Last of Us Part II/graphics-settings.txt
driversf/Driver San Francisco/graphics.ini
driversf/Driver San Francisco/offline.ini
driversf/Driver San Francisco/FelixBand/replays/**
driversf/Driver San Francisco/reloaded/replays/**
.DS_Store